Purpose: Do some quality control of TPM data and WGCNA outputs.<br>
Author: Anna Pardo

In [1]:
# check that TPM are similar for tximport results with all samples and with only the samples for DE
# load pandas
import pandas as pd

In [4]:
# load old TPM
oldtpm = pd.read_csv("../data/TPM_LS_allsamp_05-May-2023.txt",sep="\t",header="infer",index_col="GeneID")
oldtpm.head()

,SRR8857799,SRR8857793,SRR15241108,SRR15241156,SRR8857749,SRR8857746,SRR15241170,SRR8857844,SRR9282931,SRR2106196,...,SRR11933010,SRR11933188,SRR11933232,SRR11933226,SRR11933391,SRR11933084,SRR11932980,SRR4431530,SRR11933278,SRR11933248
GeneID,,,,,,,,,,,,,,,,,,,,,
Zm00001eb000010,8.477884,1.349336,15.116249,13.781893,4.872421,32.421567,13.266106,10.918767,1.099232,5.291619,...,5.045644,15.304726,9.054337,8.371502,6.884535,23.167063,10.531549,1.939595,3.661932,12.195099
Zm00001eb000020,102.011193,39.493900,0.808690,0.565147,13.808307,1.344191,1.035099,124.754873,45.137300,18.872878,...,1.329592,3.608441,0.926072,3.874467,3.166363,3.762337,0.231235,0.000000,0.767166,2.757692
Zm00001eb000050,0.492838,0.000000,0.000000,0.000000,0.519128,2.733165,0.000000,1.152023,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.999909,0.000000,0.000000,0.076395,0.000000
Zm00001eb000060,28.480082,7.311609,35.563727,18.684174,7.134804,28.603220,22.302009,34.742011,2.411356,4.794730,...,2.380904,12.338421,6.851312,10.411906,3.112488,19.269589,0.000000,1.254026,5.877407,14.959614
Zm00001eb000070,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.360438,...,11.307018,12.758565,1.048543,10.708364,2.937489,3.235341,2.842873,0.000000,12.544630,2.985126

In [5]:
# load new TPM
newtpm = pd.read_csv("../data/TPM_LS_samples_for_DE_06-Jun-2023.txt",sep="\t",header="infer",index_col="GeneID")
newtpm.head()

,SRR8857799,SRR8857793,SRR15241108,SRR15241156,SRR8857749,SRR8857746,SRR15241170,SRR8857844,SRR9282931,SRR1819617,...,SRR11933062,SRR11933010,SRR11933188,SRR11933232,SRR11933226,SRR11933391,SRR11933084,SRR11932980,SRR11933278,SRR11933248
GeneID,,,,,,,,,,,,,,,,,,,,,
Zm00001eb000010,8.477884,1.349336,15.116249,13.781893,4.872421,32.421567,13.266106,10.918767,1.099232,14.896881,...,8.746047,5.045644,15.304726,9.054337,8.371502,6.884535,23.167063,10.531549,3.661932,12.195099
Zm00001eb000020,102.011193,39.493900,0.808690,0.565147,13.808307,1.344191,1.035099,124.754873,45.137300,27.587733,...,2.796154,1.329592,3.608441,0.926072,3.874467,3.166363,3.762337,0.231235,0.767166,2.757692
Zm00001eb000050,0.492838,0.000000,0.000000,0.000000,0.519128,2.733165,0.000000,1.152023,0.000000,0.264015,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.999909,0.000000,0.076395,0.000000
Zm00001eb000060,28.480082,7.311609,35.563727,18.684174,7.134804,28.603220,22.302009,34.742011,2.411356,49.961373,...,11.893748,2.380904,12.338421,6.851312,10.411906,3.112488,19.269589,0.000000,5.877407,14.959614
Zm00001eb000070,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.906430,...,3.956374,11.307018,12.758565,1.048543,10.708364,2.937489,3.235341,2.842873,12.544630,2.985126

In [ ]:
# looks good!

In [2]:
## check that WGCNA data are OK
wgcna = pd.read_csv("../data/rawtpm_forWGCNA_noPEG.tsv",sep="\t",header="infer")
wgcna.head()

,GeneID,SRR11933261,SRR11933272,SRR11933250,SRR11933029,SRR11933040,SRR11932822,SRR11932811,SRR11933230,SRR11932879,...,Ms71D3C,Ki3D1C,CML228D1D,CML333D3D,MO18WD3C,B73D3C,NC358D3C,P39D3D,M162WD3D,M162WD1D
0,Zm00001eb000010,12.553818,16.255838,9.028815,8.201340,10.371251,37.430009,39.925873,30.677016,23.393003,...,1.417104,1.923525,1.427602,9.580153,1.228100,2.966207,1.791556,4.286976,3.435711,3.498243
1,Zm00001eb000020,2.321077,3.110372,2.984479,2.385748,2.799099,27.508819,22.440680,24.648455,7.595576,...,0.000000,1.799671,0.000000,0.000000,1.925157,0.561768,0.176413,0.781353,0.379497,0.463832
2,Zm00001eb000050,0.042520,0.405226,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.304751,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,Zm00001eb000060,12.932676,7.214039,3.092442,1.726808,1.280629,29.510498,22.148225,22.170584,14.727189,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,Zm00001eb000070,5.253755,1.902461,2.586555,1.926412,3.771234,7.005587,7.590336,5.274585,2.177748,...,0.000000,0.451827,0.000000,1.018369,0.000000,0.000000,0.000000,0.000000,1.660372,0.748587