Purpose: Generate lists of SRR numbers for each genotype of maize for the core stress transcriptome project.<br>
Author: Anna Pardo<br>
Date initiated: April 14, 2023

In [1]:
# import modules
import pandas as pd

In [2]:
# load metadata sheet
md = pd.read_csv("srr_numbers_with_metadata_14-Apr-2023.tsv",sep="\t",header="infer")
md.head()

,BioProject,SRA_number,sample_name,Replicate_num,Genotype,Technology,Library_layout,Treatment,Duration_hours,Time_after_treatment,...,Developmental_stage,Tissue,Day_length_hours,Day_temp_C,Night_temp_C,Relative humidity (%),Light (umol/m2/s),Growth Env.,Media,Notes
0,PRJNA637522,SRR11933261,238_WS2,NaN,238,Illumina HiSeq 2500,PAIRED,Drought,312.0,13 days,...,V3,Leaf,16.0,25.0,NaN,NaN,NaN,Greenhouse,NaN,NaN
1,PRJNA637522,SRR11933272,238_WS1,NaN,238,Illumina HiSeq 2500,PAIRED,Drought,216.0,9 days,...,V3,Leaf,16.0,25.0,NaN,NaN,NaN,Greenhouse,NaN,NaN
2,PRJNA637522,SRR11933250,268_WS1,NaN,268,Illumina HiSeq 2500,PAIRED,Drought,216.0,9 days,...,V3,Leaf,16.0,25.0,NaN,NaN,NaN,Greenhouse,NaN,NaN
3,PRJNA637522,SRR11933029,268_WW,NaN,268,Illumina HiSeq 2500,PAIRED,Control,216.0,9 days,...,V3,Leaf,16.0,25.0,NaN,NaN,NaN,Greenhouse,NaN,NaN
4,PRJNA637522,SRR11933040,268_WS2,NaN,268,Illumina HiSeq 2500,PAIRED,Drought,312.0,13 days,...,V3,Leaf,16.0,25.0,NaN,NaN,NaN,Greenhouse,NaN,NaN

In [3]:
md.columns

Index(['BioProject', 'SRA_number', 'sample_name', 'Replicate_num', 'Genotype',
       'Technology', 'Library_layout', 'Treatment', 'Duration_hours',
       'Time_after_treatment', 'Concentration_mM', 'Concentration',
       'Developmental_stage', 'Tissue', 'Day_length_hours', 'Day_temp_C',
       'Night_temp_C', 'Relative humidity (%)', 'Light (umol/m2/s)',
       'Growth Env.', 'Media', 'Notes'],
      dtype='object')

In [3]:
# clean up the metadata sheet - remove unused columns
mdclean = md[["BioProject","SRA_number","Replicate_num","Genotype","Technology","Library_layout","Treatment","Duration_hours",
                "Concentration_mM","Developmental_stage","Tissue","Day_length_hours","Day_temp_C","Night_temp_C",
                "Relative humidity (%)","Light (umol/m2/s)","Growth Env.","Media"]]
mdclean.head()

,BioProject,SRA_number,Replicate_num,Genotype,Technology,Library_layout,Treatment,Duration_hours,Concentration_mM,Developmental_stage,Tissue,Day_length_hours,Day_temp_C,Night_temp_C,Relative humidity (%),Light (umol/m2/s),Growth Env.,Media
0,PRJNA637522,SRR11933261,NaN,238,Illumina HiSeq 2500,PAIRED,Drought,312.0,NaN,V3,Leaf,16.0,25.0,NaN,NaN,NaN,Greenhouse,NaN
1,PRJNA637522,SRR11933272,NaN,238,Illumina HiSeq 2500,PAIRED,Drought,216.0,NaN,V3,Leaf,16.0,25.0,NaN,NaN,NaN,Greenhouse,NaN
2,PRJNA637522,SRR11933250,NaN,268,Illumina HiSeq 2500,PAIRED,Drought,216.0,NaN,V3,Leaf,16.0,25.0,NaN,NaN,NaN,Greenhouse,NaN
3,PRJNA637522,SRR11933029,NaN,268,Illumina HiSeq 2500,PAIRED,Control,216.0,NaN,V3,Leaf,16.0,25.0,NaN,NaN,NaN,Greenhouse,NaN
4,PRJNA637522,SRR11933040,NaN,268,Illumina HiSeq 2500,PAIRED,Drought,312.0,NaN,V3,Leaf,16.0,25.0,NaN,NaN,NaN,Greenhouse,NaN

In [6]:
# load the list of SRR numbers that have already been downloaded (B73 heat and salt stress and their controls)
predown = pd.read_csv("heat_salt_B73.txt",sep="\t",header=None)
predown.head()

            0
0  SRR2106180
1  SRR2106182
2  SRR2106184
3  SRR2106186
4  SRR2106196

In [9]:
# remove the SRR numbers that have already been downloaded from the metadata
unmdc = mdclean[~mdclean["SRA_number"].isin(predown[0])]

In [25]:
# remove rows where Genotype is NA
unmdc = unmdc[~unmdc["Genotype"].isna()]

In [24]:
# write a function to take a genotype and output a txt file containing that genotype's SRR numbers
## note, for B73 this will NOT include the 126 samples already downloaded ##

def genotype_srr(genotype,df):
    # remove whitespace from genotype
    g = genotype.replace(" ","")
    # set up output filenames
    if g == "B73":
        filename = g+"_other_conditions.txt"
    else:
        filename = g+"_all.txt"
        
    # subset metadata dataframe to just this genotype
    subdf = df[df["Genotype"]==genotype]
    # write the txt file
    with open(filename,"w+") as outfile:
        for i in list(subdf["SRA_number"]):
            outfile.write(i+"\n")

In [26]:
# loop through the genotypes and write the files
for g in list(unmdc["Genotype"].unique()):
    genotype_srr(g,unmdc)

In [28]:
len(list(unmdc["Genotype"].unique()))

305

In [4]:
# the above is the total number of genotypes in the dataset - this includes hybrids, inbreds, and doubled haploids
# let's pivot back into Basic Data Exploration mode now. For this we need the mdclean dataframe.

## how many samples do we have from each treatment?

for t in list(mdclean["Treatment"].unique()):
    l = len(mdclean[mdclean["Treatment"]==t].index)
    print("Number of samples for treatment",t,"=",l)

Number of samples for treatment Drought = 552
Number of samples for treatment Control = 734
Number of samples for treatment Heat = 193
Number of samples for treatment Cold = 225
Number of samples for treatment Salt = 29
Number of samples for treatment UV = 10
Number of samples for treatment ControlRec = 4
Number of samples for treatment DroughtRec = 5
Number of samples for treatment DroughtSalt = 2
Number of samples for treatment SaltRec = 2
Number of samples for treatment DroughtSaltRec = 2
Number of samples for treatment ColdRec = 1
Number of samples for treatment ColdDroughtRec = 1
Number of samples for treatment ColdDrought = 1
Number of samples for treatment DroughtRepeat = 2
Number of samples for treatment Low_Nitrogen = 27
Number of samples for treatment Flooding = 48
Number of samples for treatment PEG6000 = 24
Number of samples for treatment nan = 0

In [30]:
# what are the top 10 genotypes with the most samples?
## first remove NAs
mdclean = mdclean[~mdclean["Genotype"].isna()]

In [32]:
gtlist = []
nsamplist = []
for g in list(mdclean["Genotype"].unique()):
    gtlist.append(g)
    nsamplist.append(len(mdclean[mdclean["Genotype"]==g].index))
    
# make dataframe
gtsamp = pd.DataFrame(list(zip(gtlist,nsamplist)),columns=["Genotype","N_samples"])

In [36]:
gtsamp.sort_values(by="N_samples",axis=0,ascending=False,inplace=True)

In [37]:
gtsamp.head(n=10)

     Genotype  N_samples
23        B73        385
284       W22         70
220      Mo17         56
265  Shen5003         23
82    CIMBL55         21
285   W22xB73         21
286  W22xMo17         21
24   B73xMo17         21
17       B104         20
152  DKC 6664         14

New work May 1, 2023: generate sample list for all genotypes except the following:<br>
- B73
- Oh43 (& OH43)
- P39
- 05W002
- CML69
- W22
- Mo17 (but need to include "inbred line Mo17")

In [1]:
import pandas as pd

In [2]:
# load metadata sheet
md = pd.read_csv("srr_numbers_with_metadata_14-Apr-2023.tsv",sep="\t",header="infer")
md.head()

,BioProject,SRA_number,sample_name,Replicate_num,Genotype,Technology,Library_layout,Treatment,Duration_hours,Time_after_treatment,...,Developmental_stage,Tissue,Day_length_hours,Day_temp_C,Night_temp_C,Relative humidity (%),Light (umol/m2/s),Growth Env.,Media,Notes
0,PRJNA637522,SRR11933261,238_WS2,NaN,238,Illumina HiSeq 2500,PAIRED,Drought,312.0,13 days,...,V3,Leaf,16.0,25.0,NaN,NaN,NaN,Greenhouse,NaN,NaN
1,PRJNA637522,SRR11933272,238_WS1,NaN,238,Illumina HiSeq 2500,PAIRED,Drought,216.0,9 days,...,V3,Leaf,16.0,25.0,NaN,NaN,NaN,Greenhouse,NaN,NaN
2,PRJNA637522,SRR11933250,268_WS1,NaN,268,Illumina HiSeq 2500,PAIRED,Drought,216.0,9 days,...,V3,Leaf,16.0,25.0,NaN,NaN,NaN,Greenhouse,NaN,NaN
3,PRJNA637522,SRR11933029,268_WW,NaN,268,Illumina HiSeq 2500,PAIRED,Control,216.0,9 days,...,V3,Leaf,16.0,25.0,NaN,NaN,NaN,Greenhouse,NaN,NaN
4,PRJNA637522,SRR11933040,268_WS2,NaN,268,Illumina HiSeq 2500,PAIRED,Drought,312.0,13 days,...,V3,Leaf,16.0,25.0,NaN,NaN,NaN,Greenhouse,NaN,NaN

In [3]:
# clean up the metadata sheet - remove unused columns
mdclean = md[["BioProject","SRA_number","Replicate_num","Genotype","Technology","Library_layout","Treatment","Duration_hours",
                "Concentration_mM","Developmental_stage","Tissue","Day_length_hours","Day_temp_C","Night_temp_C",
                "Relative humidity (%)","Light (umol/m2/s)","Growth Env.","Media"]]
mdclean.head()

,BioProject,SRA_number,Replicate_num,Genotype,Technology,Library_layout,Treatment,Duration_hours,Concentration_mM,Developmental_stage,Tissue,Day_length_hours,Day_temp_C,Night_temp_C,Relative humidity (%),Light (umol/m2/s),Growth Env.,Media
0,PRJNA637522,SRR11933261,NaN,238,Illumina HiSeq 2500,PAIRED,Drought,312.0,NaN,V3,Leaf,16.0,25.0,NaN,NaN,NaN,Greenhouse,NaN
1,PRJNA637522,SRR11933272,NaN,238,Illumina HiSeq 2500,PAIRED,Drought,216.0,NaN,V3,Leaf,16.0,25.0,NaN,NaN,NaN,Greenhouse,NaN
2,PRJNA637522,SRR11933250,NaN,268,Illumina HiSeq 2500,PAIRED,Drought,216.0,NaN,V3,Leaf,16.0,25.0,NaN,NaN,NaN,Greenhouse,NaN
3,PRJNA637522,SRR11933029,NaN,268,Illumina HiSeq 2500,PAIRED,Control,216.0,NaN,V3,Leaf,16.0,25.0,NaN,NaN,NaN,Greenhouse,NaN
4,PRJNA637522,SRR11933040,NaN,268,Illumina HiSeq 2500,PAIRED,Drought,312.0,NaN,V3,Leaf,16.0,25.0,NaN,NaN,NaN,Greenhouse,NaN

In [4]:
# make a list of genotypes NOT to be included - making sure any trailing spaces or whatnot are on the list
gtinit = ["B73","Mo17","W22","05W002","Oh43","OH43","P39","CML69"]
gt = []
for i in list(mdclean["Genotype"].unique()):
    if type(i) == str:
        g = i.replace(" ","")
        if g in gtinit:
            gt.append(i)
        
gt

['05W002', 'B73', 'CML69', 'Mo17', 'OH43', 'Oh43', 'P39', 'W22']

In [5]:
# subset the dataframe
## first drop NaN in the Genotype column
mdclean.dropna(subset="Genotype",inplace=True)

/tmp/ipykernel_168/1871945341.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mdclean.dropna(subset="Genotype",inplace=True)

In [6]:
other = mdclean[~mdclean["Genotype"].isin(gt)]
len(other.index)

1311

In [11]:
len(mdclean.index)

1850

In [21]:
# split other into two dataframes
o1 = other.iloc[:328]

In [18]:
o2 = other.iloc[655:]

In [22]:
# write txt file
with open("./firstqtr_remaining_SRR_01-May-23.txt","w+") as outfile:
    for i in list(o1["SRA_number"]):
        outfile.write(i+"\n")

In [20]:
with open("./secondhalf_remaining_SRR_01-May-23.txt","w+") as outfile:
    for i in list(o2["SRA_number"]):
        outfile.write(i+"\n")

In [7]:
# May 2, 2023
# how many fastq files will be downloaded from the dataframe other?
## count up number of PE & SE
se = other[other["Library_layout"]=="SINGLE"]
pe = other[other["Library_layout"]=="PAIRED"]

In [8]:
len(se.index)+(len(pe.index)*2)

2514

In [9]:
# load list of downloaded fastqs and output file of SRR numbers still needing to be downloaded
fastq = pd.read_csv("fastq_list.txt",sep="\t",header=None)
fastq.head()

                                                   0
0  /mnt/scratch/haberan2/Core_Stress_Response/00_...
1  /mnt/scratch/haberan2/Core_Stress_Response/00_...
2  /mnt/scratch/haberan2/Core_Stress_Response/00_...
3  /mnt/scratch/haberan2/Core_Stress_Response/00_...
4  /mnt/scratch/haberan2/Core_Stress_Response/00_...

In [13]:
# pull out unique SRR numbers
SRR = []
for i in list(fastq[0]):
    SRR.append(i.strip().split("/")[7].split("_")[0])

In [14]:
fastq[1] = SRR

In [16]:
uniqSRR = list(fastq[1].unique())

In [17]:
uniqSRR[0:5]

['SRR10253751', 'SRR10253752', 'SRR10253753', 'SRR10253754', 'SRR10253755']

In [19]:
for i in list(other["SRA_number"].unique()):
    if i not in uniqSRR:
        print(i)

SRR8239716
SRR8239717
SRR8239718
SRR8239725
SRR8239726
SRR8239727
SRR9841917
SRR9841918
SRR9841942
SRR9841959
SRR9841997
SRR9841998
SRR9842058
SRR9842059
SRR1685963
SRR1819625
SRR1819627
SRR1819630
SRR1685964
SRR1819632
SRR1685982
SRR1819622
SRR1819624
SRR1663693
SRR1663694
SRR6179041
SRR6179042
SRR6179043
SRR6179044
SRR6179047
SRR6179048
SRR15241121
SRR15241132
SRR15241239
SRR15241110
SRR15241347
SRR15241358
SRR15241314
SRR15241325
SRR15241336
SRR15241309
SRR15241310
SRR15241311
SRR15241306
SRR15241307
SRR15241308
SRR15241303
SRR15241304
SRR15241305
SRR15241299
SRR15241300
SRR15241302
SRR15241394
SRR15241393
SRR15241392
SRR15241391
SRR12300529
SRR12300530
SRR12300531
SRR12300532
SRR12300533
SRR12300534
SRR12300543
SRR12300544
SRR13299751
SRR13299752
SRR13299753
SRR13299754
SRR13299759
SRR13299760
SRR6671824
SRR6671825
SRR6671826
SRR6671827
SRR6671828
SRR6671829
SRR6671830
SRR6671831
SRR6671832
SRR6671833
SRR6671846
SRR6671847
SRR6671848
SRR6671849
SRR6671850
SRR6671851
SRR6671852
SRR6671853
SRR17498848
SRR17498852
SRR17498853
SRR17498854
SRR17498856
SRR17498857
SRR17498849
SRR17498850
SRR17498851
SRR17498855
SRR17498858
SRR17498859
SRR15241390
SRR15241389
SRR15241388
SRR15241387
SRR15241386
SRR15241385
SRR15241383
SRR15241382
SRR15241381
SRR15241380
SRR15241379
SRR15241378
SRR15241372
SRR15241371
SRR15241370
SRR15241369
SRR21494916
SRR21494925
SRR15241368
SRR15241367
SRR15241366
SRR15241365
SRR15241364
SRR15241363
SRR15241166
SRR15241165
SRR22810163
SRR22810164
SRR22810165
SRR22810166
SRR22810167
SRR22810168
SRR22810169
SRR22810170
SRR22810171
SRR22810172
SRR22810173
SRR22810174
SRR5358805
SRR5358806
SRR5358809
SRR5358810
SRR5358813
SRR5358814
SRR5358817
SRR5358818
SRR17373651
SRR17373652
SRR17373653
SRR17373673
SRR17373685
SRR17373650
SRR17373654
SRR17373662
SRR17373682
SRR17373683
SRR13312968
SRR13312969
SRR13312970
SRR13312971
SRR13312972
SRR13312973
SRR15241164
SRR15241163
SRR15241162
SRR15241161
SRR11273501
SRR11273502
SRR11273503
SRR11273507
SRR11273508
SRR11273509
SRR15241160
SRR15241159
SRR15241158
SRR15241157
SRR15241155
SRR15241154
SRR15241153
SRR12300535
SRR12300536
SRR12300537
SRR12300538
SRR12300539
SRR12300540
SRR12300541
SRR12300542
SRR5358803
SRR5358804
SRR5358807
SRR5358808
SRR5358811
SRR5358812
SRR5358815
SRR5358816
SRR15241152
SRR15241151
SRR15241150
SRR15241149
SRR17373672
SRR17373674
SRR17373675
SRR17373679
SRR17373680
SRR17373681
SRR17373669
SRR17373670
SRR17373671
SRR17373676
SRR17373677
SRR17373678
SRR15241148
SRR15241147
SRR15241146
SRR15241144
SRR15241139
SRR15241138
SRR15241137
SRR15241136
SRR15241263
SRR15241261
SRR15241260
SRR15241259
SRR6179045
SRR6179046
SRR6179049
SRR6179050
SRR6179051
SRR6179052
SRR15241258
SRR15241257
SRR15241256
SRR15241255
SRR15241254
SRR15241253
SRR15241252
SRR15241249
SRR10253755
SRR10253756
SRR10253757
SRR10253758
SRR10253761
SRR10253762
SRR15241244
SRR15241243
SRR15241242
SRR15241241
SRR9841901
SRR9841902
SRR9841930
SRR9841931
SRR9841981
SRR9841982
SRR9842045
SRR9842046
SRR9841919
SRR9841920
SRR9841999
SRR9842000
SRR9842012
SRR9842015
SRR9842047
SRR9842048
SRR9841990
SRR9842022
SRR9842023
SRR9842031
SRR9842032
SRR9842057
SRR9842066
SRR9842067
SRR9841899
SRR9841900
SRR9841957
SRR9841958
SRR9842035
SRR9842036
SRR9842049
SRR9842050
SRR9841948
SRR9841949
SRR9841977
SRR9841978
SRR9842016
SRR9842017
SRR9842060
SRR9842061
SRR9841905
SRR9841906
SRR9841912
SRR9841913
SRR9841914
SRR9841927
SRR9842055
SRR9842056
SRR9841925
SRR9841926
SRR9841951
SRR9841952
SRR9841962
SRR9841963
SRR9841971
SRR9841972
SRR9841897
SRR9841967
SRR9841968
SRR9842027
SRR9842028
SRR9842037
SRR9842038
SRR9842072
SRR9841923
SRR9841924
SRR9842003
SRR9842004
SRR9842025
SRR9842026
SRR9842068
SRR9842069
SRR9841943
SRR9841944
SRR9841953
SRR9841954
SRR9841966
SRR9841983
SRR9841984
SRR9841987
SRR9841907
SRR9841908
SRR9841936
SRR9841937
SRR9841940
SRR9841941
SRR9841988
SRR9841989
SRR9841915
SRR9841916
SRR9841947
SRR9841950
SRR9841975
SRR9841976
SRR9841993
SRR9841994
SRR9841932
SRR9841933
SRR9842020
SRR9842021
SRR9842043
SRR9842044
SRR9842051
SRR9842052
SRR9841903
SRR9841904
SRR9841928
SRR9841929
SRR9841945
SRR9841946
SRR9842041
SRR9842042
SRR9841909
SRR9841960
SRR9841961
SRR9841995
SRR9841996
SRR9842001
SRR9842002
SRR9842024
SRR9842007
SRR9842008
SRR9842010
SRR9842011
SRR9842018
SRR9842019
SRR9842029
SRR9842030
SRR9841898
SRR9841934
SRR9841935
SRR9841973
SRR9841974
SRR9842006
SRR9842070
SRR9842071
SRR9841921
SRR9841922
SRR9841938
SRR9841939
SRR9841964
SRR9841965
SRR9842064
SRR9842065
SRR9841969
SRR9841970
SRR9841991
SRR9841992
SRR9842039
SRR9842040
SRR9842053
SRR9842054
SRR9841910
SRR9841911
SRR9841979
SRR9841980
SRR9842005
SRR9842009
SRR9842062
SRR9842063
SRR9841955
SRR9841956
SRR9841985
SRR9841986
SRR9842013
SRR9842014
SRR9842033
SRR9842034
SRR15241235
SRR15241234
SRR15241233
SRR15241232
SRR6671834
SRR6671835
SRR6671836
SRR6671837
SRR6671838
SRR6671839
SRR6671840
SRR6671841
SRR6671842
SRR6671843
SRR6671844
SRR6671845
SRR6671854
SRR6671855
SRR6671856
SRR6671857
SRR6671858
SRR6671859
SRR13299755
SRR13299756
SRR13299757
SRR13299758
SRR13299761
SRR13299762
SRR15241135
SRR15241134
SRR15241133
SRR15241131
SRR15241278
SRR15241279
SRR15241280
SRR15241275
SRR15241276
SRR15241277
SRR15241271
SRR15241272
SRR15241273
SRR15241268
SRR15241269
SRR15241270
SRR15241265
SRR15241266
SRR15241267
SRR15241199
SRR15241264
SRR15241295
SRR15241196
SRR15241197
SRR15241198
SRR15241193
SRR15241194
SRR15241195
SRR15241189
SRR15241191
SRR15241192
SRR15241186
SRR15241187
SRR15241188
SRR15241183
SRR15241184
SRR15241185
SRR15241180
SRR15241181
SRR15241182
SRR15241176
SRR15241177
SRR15241178
SRR15241173
SRR15241174
SRR15241175
SRR2889754
SRR2889759
SRR6713957
SRR6724183
SRR11273498
SRR11273499
SRR11273500
SRR11273504
SRR11273505
SRR11273506
SRR17373659
SRR17373660
SRR17373661
SRR17373666
SRR17373667
SRR17373668
SRR17373656
SRR17373657
SRR17373658
SRR17373663
SRR17373664
SRR17373665
SRR2129982
SRR2129983
SRR2129984
SRR2129985
SRR2129986
SRR2129987
SRR10253751
SRR10253752
SRR10253753
SRR10253754
SRR10253759
SRR10253760

In [20]:
# go back to other and make a list of SRR numbers not in uniqSRR, then write to a file
with open("./srr_remaining_02-May-2023.txt","w+") as outfile:
    for i in list(other["SRA_number"].unique()):
        if i not in uniqSRR:
            outfile.write(i+"\n")